@page "/fetchdata"
@inject HttpClient Http

<h1>Pokemon listings </h1>

<p>A list of all Pokemon based on your filters, click on the table names to sort by specific attributes</p>

<form @onsubmit="FetchPokemonData">
    <p>Filters:</p>
    <label>Ability: <input @bind="abilityName" class="form-control" /></label>
    <label>Type: <input @bind="typeName" class="form-control" /></label>
    <label>Limit: <input @bind="limit" type="number" class="form-control" /></label>
    <p>
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>
<div class="form-check form-switch">
    <input @bind="showId" type="checkbox">
    <label> ID </label>
    <input @bind="showTypes" type="checkbox">
    <label> Types </label>
    <input @bind="showAbil" type="checkbox">
    <label> Abilities </label>
    <input @bind="showHeight" type="checkbox">
    <label> Height </label>
    <input @bind="showWeight" type="checkbox">
    <label> Weight </label>
    <input @bind="showStats" type="checkbox">
    <label> Stats </label>
</div>
<table class="table">
    <thead>
        <tr>
            @if (showId){ <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("PokemonId"))">Id</button></th> }
            
            <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Name"))">Name</button></th>
            @if (showTypes){ <th>Types</th> }
            @if (showAbil){ <th>Abilities</th> }
            @if (showHeight) { <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Height"))">Height</button></th> }
            @if (showWeight){ <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Weight"))">Weight</button></th> }
            @if(showStats)
            { 
                <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Hp"))">Hp</button></th>
                <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Atk"))">Atk</button></th>
                <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Def"))">Def</button></th>
                <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Sp_Atk"))">Sp Atk</button></th>
                <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Sp_Def"))">Sp Def</button></th>
                <th><button type="button" class="btn btn-light btn-sm" @onclick="@(() => ChangeSortOrder("Spd"))">Speed</button></th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (pokemonResponse != null)
    {
            var typeNames = pokemonResponse.Types.ToDictionary(t => t.typeId, t => t.typeName);
        @foreach (var pokemon in pokemonResponse.Pokemons)
        {
        <tr>
            @if (showId){ <td>@pokemon.pokemonId</td> }

            <td>@pokemon.pokemonName</td>

            @if (showTypes) { <td>@string.Join(", ", pokemon.pokemonTypeIds.Select(t => typeNames[t]))</td> }
            @if (showAbil) { <td>@string.Join(", ", @pokemon.abilities.Select(a => a.abilityName))</td> }
            @if (showHeight) { <td>@pokemon.height</td> }
            @if (showWeight) { <td>@pokemon.weight</td> }
            @if (showStats)
            {
                <td>@pokemon.baseStats.hp</td>
                <td>@pokemon.baseStats.atk</td>
                <td>@pokemon.baseStats.def</td>
                <td>@pokemon.baseStats.spAtk</td>
                <td>@pokemon.baseStats.spDef</td>
                <td>@pokemon.baseStats.speed</td>
            }
            <td><a class="btn btn-secondary btn-sm" href="updatePokemon/@pokemon.pokemonId"> Edit </a></td>
            <td> <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => DeletePokemonData(pokemon.pokemonId))"> Del </button></td>
        </tr>
        }
    }
    </tbody>
</table>

@if (isLoading)
{
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
}
else if (pokemonResponse.Pokemons.Length == 0)
{
    <p>No results</p>
}

@code {
    bool showStats = true;
    bool showTypes = true;
    bool showId = true;
    bool showHeight = true;
    bool showWeight = true;
    bool showAbil = true;

    int limit = 10;
    string abilityName = "";
    string typeName = "";
    bool isLoading = false;

    private PokemonResponse? pokemonResponse;
    private SortOrder sortOrder = new SortOrder { };

    protected override async Task OnInitializedAsync()
    {
        await FetchPokemonData();
    }

    async Task FetchPokemonData()
    {
        isLoading = true;
        var response = await Http.PostAsJsonAsync("api/pokemon", new FilterModel
        {
            Amount = limit,
            CanHaveAbility = string.IsNullOrEmpty(abilityName) ? Array.Empty<string>() : new[] { abilityName },
            HasType = string.IsNullOrEmpty(typeName) ? Array.Empty<string>() : new[] { typeName },
            Sort = sortOrder
        }); ; ;
        response.EnsureSuccessStatusCode();

        pokemonResponse = await response.Content.ReadFromJsonAsync<PokemonResponse>();
        isLoading = false;
    }

    async Task DeletePokemonData(int Id)
    {
        isLoading = true;
        var response = await Http.DeleteAsync("api/pokemon/" + Id);
        response.EnsureSuccessStatusCode();
        await FetchPokemonData();
    }

    private async Task ChangeSortOrder(string orderInput)
    {
        if (sortOrder.FieldName.ToString().Equals(orderInput))
            sortOrder.Descending = !sortOrder.Descending;
        else
        {
            sortOrder.FieldName = !Enum.TryParse<Field>(orderInput, out Field name) ? Field.PokemonId : Enum.Parse<Field>(orderInput);
            sortOrder.Descending = true;
        }

        await FetchPokemonData();
    }
}
