@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<form @onsubmit="FetchPokemonData">
    <label>Search ability: <input @bind="abilityName" class="form-control" /></label>
    <label>Limit: <input @bind="limit" type="number" class="form-control" /></label>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (pokemonResponse == null)
{
    <p><em>Loading...</em></p>
}
else if (pokemonResponse.Pokemons.Length == 0)
{
    <p>No results</p>
}
else
{
    var typeNames = pokemonResponse.Types.ToDictionary(t => t.typeId, t => t.typeName);
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Attack</th>
                <th>Types</th>
                <th>Ability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in pokemonResponse.Pokemons)
            {
                <tr>
                    <td>@pokemon.pokemonName</td>
                    <td>@pokemon.baseStats.atk</td>
                    <td>@string.Join(", ", pokemon.pokemonTypeIds.Select(t => typeNames[t]))</td>
                    <td>@string.Join(", ", @pokemon.abilities.Select(a => a.abilityName))</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    int limit = 10;
    string abilityName = "";

    private PokemonResponse? pokemonResponse;

    protected override async Task OnInitializedAsync()
    {
        await FetchPokemonData();
    }

    async Task FetchPokemonData()
    {
        pokemonResponse = null;
        var response = await Http.PostAsJsonAsync("api/pokemon", new FilterModel
        {
            Amount = limit,
            CanHaveAbility = string.IsNullOrEmpty(abilityName) ? Array.Empty<string>() : new[] { abilityName },
        });
        response.EnsureSuccessStatusCode();
        pokemonResponse = await response.Content.ReadFromJsonAsync<PokemonResponse>();
    }
}
